{% extends "bootstrap/base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block title %}File Anonymizer{% endblock %}


{% block content %}

<div class ="container">

	<div class="page-header">
		<h1>Data Anonymizer</h1>
		{% with messages = get_flashed_messages(category_filter=["msg"]) %}
			{% if messages %}
				{% for m in messages %}
					<div class ="alert alert-info alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
						<p>{{m}}</p>
						<br>
						{% with messages = get_flashed_messages(category_filter=["completed_filename"]) %}
						{% if messages %}
						{% for m in messages %}
							<a href="/downloadfile_{{ m }}" target="blank"><u>Download!</u></a>
						{% endfor %}
						{% endif %}
						{% endwith %}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<p>Upload your files to be anonymized below!</p>
		<p>Click <a href="{{url_for('files_upload')}}">here!</a></p>
	</div>

</div>
{% endblock %}