{% extends "bootstrap/base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block title %}File Anonymizer{% endblock %}


{% block content %}

<div class ="container">

	{{html_view | safe}}
</div>

<div class ="form-group">
<form method=POST enctype=multipart/form-data action="{{ url_for('selectcolumn')}}">
	
	<p>Select column to be hashed:  <select name="column">
	{% for f in colnames %}
		<option value="{{f}}">{{f}}</option>
	{% endfor %}
</select>
	<br>
	<input type=text name=salt placeholder="Salt" maxlength=64>
	<br>
	<input type="submit" value="Submit">
	
</form>
</div>

</div>
{% endblock %}