{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}
<div class ="container">
	<div class="page-header">
		<h1><a href="/">Data Anonymizer</a></h1>
		<p>Choose column to be hashed, and input salt below!</p>
	</div>
</div>

<div class ="container">

	{{html_view | safe}}
</div>

<div class ="form-group">
<form method=POST enctype=multipart/form-data action="{{ url_for('selectcolumn')}}">
	<div class="jumbotron">
		<div class="text-center">
	<p>Select column to be hashed:  <select name="column">
	{% for f in colnames %}
		<option value="{{f}}">{{f}}</option>
	{% endfor %}
</select>
	<br>
	
	<input type=text name=salt placeholder="Salt" maxlength=64>
	<br>
	<input type="submit" value="Submit">
		</div>
	</div>
</form>
</div>

</div>
{% endblock %}